port {{ redis_port }}
bind {{ redis_bind }}
timeout {{ redis_timeout }}
loglevel {{ redis_loglevel }}
logfile {{ redis_logfile }}
databases {{ redis_databases }}

{{ redis_save }}
stop-writes-on-bgsave-error {{ redis_stopwrite_error }}
rdbcompression {{ redis_rdbcompression }}
dbfilename {{ redis_dbfilename }}
dir {{ redis_dir }}

maxclients {{ redis_maxclients }}
maxmemory {{ redis_maxmemory }}
maxmemory-policy {{ redis_maxmemory_policy }}